// Общий файл элементов форм
// Для подключения/отключения стилей конкретного єлемента формы смотри base/forms/forms.scss
// @import "base/forms/forms";

// Стили спойлеров
// @import "base/spollers";

// Стили табов
// @import "base/tabs";

// Стили карт
// @import "base/maps";

// Стили блока "показать еще"
// @import "base/showmore";

// Стили для полноэкранного блока
// @import "base/fullscreen";

.main-bg {
  position: fixed;
  top: -10%;
  left: 0%;
  width: 100%;
  height: 120%;
  background: url("@img/main-bg.jpg") center / cover no-repeat; // bg+
}

.block-header {
  @extend %cuf;
  display: grid;
  gap: 8px;
  justify-items: center;
  text-transform: capitalize;
  &__subtitle {
    line-height: 130%;
    letter-spacing: 0.04em;
    display: grid;
    gap: 8px;
    color: $mainWhite;
    justify-items: center;
    // align-items: center;
    @include adaptiveValue("font-size", 23, 23);
    &::after {
      @extend %ic;
      content: "\e904";
      color: $mainYellow;
      font-size: em(9, 23);
    }
  }
  &__title {
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: $mainYellow;
    @include adaptiveValue("font-size", 64, 64);
  }

  &_big {
    .block-header__title {
      @include adaptiveValue("font-size", 90, 90);
    }
  }
  &_left {
    justify-items: stretch;
    .block-header__subtitle {
      justify-items: stretch;
    }
  }
}
.scroll{
  
}

// Стили для отзывчивых картинок (IBG)
// Сниппет (HTML): ibg (div c картинкой и классами)
// Сниппет (HTML): ibga (a c картинкой и классами)
[class*="-ibg"] {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
[class*="-ibg_contain"] {
  img {
    object-fit: contain;
  }
}

// Шаблоны (заготовки)
// @extend %имя шаблона;
// Сниппет (SCSS): ex

// Счетчик для списка
%listCounter {
  list-style-type: none;
  counter-reset: item;
  li {
    position: relative;
    &:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
// Адаптивное видео
%responsiveVideo {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// Видео в качестве фона
%videoBackground {
  video,
  iframe,
  object,
  embed {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}
// Серый фильтр
%grayfilter {
  transition: all 0.3s ease 0s;
  filter: grayscale(1);
  @media (any-hover: hover) {
    &:hover {
      filter: grayscale(0);
    }
  }
}
// Отменить выделение
%noselect {
  user-select: none;
}
// Зеркальное отображение
%mirror {
  transform: scale(-1, 1);
}
// Плавный скролл
%smoothscroll {
  -webkit-overflow-scrolling: touch;
}
// Скрыть скролл
%hidescroll {
  &::-webkit-scrollbar {
    display: none;
  }
}
%cuf {
  font-family: CormorantUpright;
}
