//====================================================================================================
.header {
  color: #fff;
  padding: 10px 0;
  &__container {
    align-items: center;
    min-height: 121px;
    position: relative;
    display: flex;

    &_wide {
    }
  }

  &__column {
    flex: 0 0 300px;
    width: 300px;
    &_wide {
      flex: 1 1 auto;
    }
    &_auth {
      align-self: stretch;
    }
  }

  &__logo {
    @extend %cuf;
    grid-column: span 3;

    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  &__menu {
  }
  &__auth {
  }
}
.menu {
  &__icon {
  }
  &__body {
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 32px;
    justify-content: center;
    align-items: center;
  }
  &__item {
  }
  &__link {
    line-height: 175%;
    letter-spacing: 0.04em;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $mainHover;
      }
    }
  }
}

.auth-header {
  height: 100%;
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  gap: 10px 50px;
  padding: 22px 0;
  &__item {
    display: flex;
    align-items: center;
    position: relative;
    &:not(:last-child) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: -24px;
        width: 1px;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 1%,
          rgba(255, 255, 255, 1) 38%,
          rgba(255, 255, 255, 1) 51%,
          rgba(255, 255, 255, 1) 67%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
  }
  &__link {
    text-align: center;
    line-height: 140%;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $mainHover;
      }
    }
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
    }
    &::before {
      top: 0px;
    }
    &::after {
      bottom: 0px;
    }
    span {
      top: calc(50% - 1px);
    }
    .menu-open & {
      span {
        transform: scale(0);
      }
      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }
      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}
