//====================================================================================================
.header {
  &__container {
	color: #fff;
    display: grid;
    gap: 32px;
    align-items: center;
    height: 121px;
    grid-template-columns: repeat(12, 1fr);
    &_wide {
    }
  }
  &__logo {
    @extend %cuf;
    grid-column: span 3;
    justify-self: start;
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;	
  }
  &__menu {
    grid-column: span 6;
  }
  &__auth {
    grid-column: span 3;
  }
}
.menu {
  &__icon {
  }
  &__body {
  }
  &__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  }
  &__item {
  }
  &__link {
	line-height: 175%;
	letter-spacing: 0.04em;
  }
}
.icon-menu {
}
.auth-header {
  &__item {
  }
  &__link {
  }
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
