//====================================================================================================
.mainpage {
  &__slider {
  }
}
.main-slider {
  background-color: #0c0b08;
  @include adaptiveValue("padding-top", 210, 140);
  @include adaptiveValue("padding-bottom ", 70, 70);
  &__container {
    &_wide {
      position: relative;
    }
  }
  &__menu {
  }
  &__scroll {
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
  }
}
.body-main-slider {
  &__slider {
  }
  &__swiper {
  }
  &__slide {
  }
}
.slide-main-slider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &__content {
    padding-right: 40px;
  }
  &__header {
  }
  &__text {
  }
  &__button {
  }
  &__image {
    flex: 0 1 50%;
  }
}
.block-header {
  &__subtitle {
  }
  &__title {
  }
}
.menu-main-slider {
  position: absolute;
  left: rem(15);
  top: 0;
  display: flex;
  gap: rem(40);
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__link {
    font-size: rem(18);
    line-height: 175%;
    letter-spacing: 0.04em;
    color: $mainWhite;
    transform: rotate(-180deg); // ar
    writing-mode: vertical-lr;
    @media (any-hover: hover) {
      // hhv срабатывает только на устр-вах  смышью
      &:hover {
        color: $mainYellow;
      }
    }
    &_current {
      color: $mainYellow;
    }
  }
}

//====================================================================================================
