//====================================================================================================
.mainpage {
  &__slider {
  }
}

@media (max-width: $tablet) {
  .touch .main-slider[data-fullscreen] {
    min-height: 0;
  }
}

.main-slider {
  background-color: #0c0b08;
  display: flex;
  @include adaptiveValue("padding-top", 185, 80);
  @include adaptiveValue("padding-bottom ", 70, 30);

  &__container {
    &:not(.main-slider__container_wide) {
      padding: 0;
    }

    &_wide {
      flex: 1 1 auto;
      min-width: 0;
      position: relative;
    }
  }

  &__menu {
  }

  &__scroll {
    @media (min-width: em(1445)) {
      position: absolute;
      bottom: 0;
      right: rem(15);
    }
    @media (max-width: em(1445)) {
      display: block;
      padding-top: rem(15);
      &::before {
        display: none;
      }
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }
}
.body-main-slider {
  @media (min-width: $tablet) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &.swiper {
    overflow: visible;
  }

  &__swiper {
    flex: 1 1 auto;
    align-items: center;
  }

  &__slide {
    @media (min-width: $tablet) {
      height: 100%;
    }
  }

  &__control {
    display: flex;
    gap: 8px;
    justify-content: center; // fbc
    align-items: center;
    text-transform: capitalize;
    @extend %cuf;
    @media (min-width: $tablet) {
      padding-top: rem(88);
    }
    @media (max-width: em(1445)) and (min-width: $tablet) {
      padding-top: rem(15);
    }

    .swiper-pagination-bullet {
      font-weight: 600;
      font-size: rem(22);
      color: $mainWhite;
      line-height: 175%;
      letter-spacing: 0.04em;
      transition: gap 0.8s ease 0s;
      display: flex;
      gap: 0px;
      align-items: center;
      &::after {
        content: "";
        width: 0px;
        transition: all 0.8s ease 0s;
        background-color: $mainYellow;
        flex: 0 0 0px; // fbp
        height: 1px;
      }
    }
    .swiper-pagination-bullet-active {
      gap: 8px;
      &::after {
        content: "";
        width: 16px;
        flex: 0 0 16px; // fbp
      }
    }
  }
}
.slide-main-slider {
  padding: 25px 0px 0px 0px; // pp
  opacity: 0 !important;

  pointer-events: none;
  @media (max-width: em(1445)) {
    padding: rem(50) 0 rem(20) 0;
  }
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &.swiper-slide-active {
    pointer-events: auto;
    opacity: 1 !important;
  }
  &__content {
    align-self: center;
    display: grid;
    gap: 32px;
    @media (min-width: $tablet) {
      padding-right: rem(40);
      max-width: rem(500);
    }
    @media (max-width: $tablet) {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
    @media (max-width: $mobile) {
      justify-items: stretch;
    }
  }

  &__header {
  }

  &__text {
  }

  &__button {
  }

  &__image-ibg {
    position: relative;
    align-self: center;
    padding-bottom: percent(619, 688);
    @media (min-width: $tablet) {
      margin-right: percent(25, 650);
      max-height: 736px;
      height: 100%;
    }
    @media (max-width: $tablet) {
      display: block;
      margin: 0 rem(math.div($containerPadding, -2));
    }

    &::before,   // ba
    &::after {
      content: "";
      position: absolute;
      background-color: $mainYellow;
      transition: transform 0.3s ease 0s;
      width: percent(435, 619);
      height: percent(435, 688);
      @media (max-width: $tablet) {
        display: none;
      }
    }
    &::before {
      top: 0;
      right: 0;
      transform: translate(25px, -25px);
    }
    &::after {
      bottom: 0;
      left: 0;
      transform: translate(-25px, 25px); // at
    }
    img {
      transition: transform 0.3s ease 0s; // aa
      z-index: 2;
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          transform: translate(30px, -30px);
        }
        &::after {
          transform: translate(-30px, 30px);
        }
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}
.block-header {
  &__subtitle {
  }
  &__title {
  }
}
.menu-main-slider {
  display: flex;
  gap: rem(40);
  position: absolute;
  top: 0;
  left: rem(15);

  @media (min-width: em(1445)) {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__link {
    font-size: rem(18);
    line-height: 175%;
    letter-spacing: 0.04em;
    color: $mainWhite;

    @media (min-width: em(1445)) {
      transform: rotate(-180deg); // ar
      writing-mode: vertical-lr;
    }
    @media (any-hover: hover) {
      // hhv срабатывает только на устр-вах  смышью
      &:hover {
        color: $mainYellow;
      }
    }
    &_current {
      color: $mainYellow;
    }
  }
}

//====================================================================================================

.about-section {
  @include adaptiveValue("padding-top", 128, 30);
  @include adaptiveValue("padding-bottom ", 128, 30);
  &__container {
    display: flex;
  }
  &__content {
    &:first-child {
      // fc
      text-align: right;
      .about-section__title {
        justify-items: end;
        &::after {
          transform: rotate(-180deg); // ar
        }
      }
    }
  }
  &__header {
  }
  &__text {
  }
  &__knife {
    flex: 0 0 255px; // fbp
    text-align: center;
  }
  &__title {
    @extend %cuf;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: $mainYellow;
    display: grid;
    gap: 8px;    
    &::after {
      @extend %ic;
      content: "\e904";
      color: $mainYellow;
      font-size: em(9, 64);
    }
    &:not(:last-child) {
      margin-bottom: em(32, 64);
    }
    @include adaptiveValue("font-size", 64, 64); // av
  }
}
